<div class="container mt04">
  <div class="row">
    <div class="text-left" [ngClass]="isMobile ? 'col-12' : 'col-5'">
      <div>Annual Salary: <br> <input type="number" [(ngModel)]="salary" id="first_name" placeholder="Annual Salary" min="1"></div>
      <div class="mt-4">Retirement Contribution (minimum 10): <br> <input type="number" [(ngModel)]="retirement_contribution_percentage" id="Retirement Percentage" placeholder="Retirement Contribution" min="10"></div>
      <div class="mt-4"><button class="btn btn-green" (click)="calculateSalary()">Calculate</button></div>
    </div>

    <div *ngIf="displayResult" [ngClass]="isMobile ? 'col-12' : 'col-4'">
      <div>Annual Salary: <br> ${{salary | number}}</div>
      <div class="mt-3">Annual Tax: <br> ${{annual_tax | number}}</div>
      <div class="mt-3">Annual Retirement Contribution: <br> ${{annual_retirement_contribution | number}}</div>
      <div class="mt-3">Total Annual Cost: <br> ${{total | number}}</div>
    </div>
    <div *ngIf="displayResult" [ngClass]="isMobile ? 'col-12' : 'col-3'">
      <div>Tax Brackets: </div>
      <img src="/assets/image.png" alt="">
    </div>

  </div>
</div>
