/* You can add global styles to this file, and also import other style files */

.btn{
  margin-top: .5em;
  margin-bottom: .5em;
}

.btn-green{
  border: 1px solid #5d8102;
  background-color: white;
  color: #5d8102;
}

.btn-green:hover{
  background-color: #5d8102;
  color: white;
}


.mat-mdc-snack-bar-container {
  &.aac-red {
    --mdc-snackbar-container-color: #900C3F;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    text-align: center;
  }
}

.mat-mdc-snack-bar-container {
  &.aac-green {
    --mdc-snackbar-container-color: #5d8102;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    text-align: center;
  }
}
