<div class="container text-left">
  <div class="row">
    <div class="col-12 requDescr mb-4">
      * required fields
    </div>
    <div class="col-12">
      Name:
      <br>
      <span class="requiredInput"><input type="text" [(ngModel)]="employee.first_name" id="first_name" placeholder="first name" [ngClass]="showRequiredFields ? 'redBorder' : ''"></span>
      <br *ngIf="isMobile">
      <input type="text" [(ngModel)]="employee.middle_name" id="middle_name" placeholder="middle name" [ngClass]="isMobile ? 'marginTop' : 'marginLeft'">
      <br *ngIf="isMobile">
      <span class="requiredInput"><input type="text" [(ngModel)]="employee.last_name" id="last_name" placeholder="last name" [ngClass]="(showRequiredFields ? 'redBorder' : '') + ' ' + (isMobile ? 'marginTop' : 'marginLeft')"></span>
    </div>
    <div class="col-12 mt-3">
      General Info: <br>
      <span class="requiredInput"><input type="text" [(ngModel)]="employee.email" id="email" placeholder="email" [ngClass]="showRequiredFields || invalidEmail ? 'redBorder' : ''"></span>
      <br *ngIf="isMobile">
      <input type="text" [(ngModel)]="employee.position" id="position" placeholder="position" [ngClass]="isMobile ? 'marginTop' : 'marginLeft'">
    </div>
    <div class="col-12 mt-3">
      Address: <br>
      <span class="requiredInput"><input type="text" [(ngModel)]="employee.address" id="address" placeholder="address" [ngClass]="showRequiredFields ? 'redBorder' : ''"></span>
      <br *ngIf="isMobile">
      <input type="text" [(ngModel)]="employee.address_2" id="address_2" placeholder="address2" [ngClass]="isMobile ? 'marginTop' : 'marginLeft'">
      <br *ngIf="isMobile">
      <input type="text" [(ngModel)]="employee.city" id="city" placeholder="city" [ngClass]="isMobile ? 'marginTop' : 'marginLeft'">
      <br>
      <input type="text" [(ngModel)]="employee.state" id="state" placeholder="state" class="marginTop">
      <br *ngIf="isMobile">
      <input type="text" [(ngModel)]="employee.country" id="country" placeholder="country" [ngClass]="isMobile ? 'marginTop' : 'marginLeft marginTop'">
      <br *ngIf="isMobile">
      <input type="text" [(ngModel)]="employee.zip_code" id="zip_code" placeholder="zip code" [ngClass]="isMobile ? 'marginTop' : 'marginLeft marginTop'">
    </div>
    <div class="col-6 mt-3" [ngClass]="isMobile ? 'text-left' : 'text-center'">
      <button class="btn btn-green" (click)="validateEmployee()">Submit</button>
      <br *ngIf="isMobile">
      <button (click)="deleteAllFields()" class="btn btn-red" [ngClass]="isMobile ? 'marginTop' : 'marginLeft'">Cancel</button>
    </div>
  </div>
</div>
